*{
    margin: 0;
    padding: 0;
}
.postSignupHeader{
    width: 50%;
    height: 12vh;
    margin-top: 1vh;   
    text-align: center;
}
.postSignupHeader .job{
    font-family: "Limelight";
    letter-spacing: 2px;
    font-size: 70px;
}
.postSignupHeader .market{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
}